body{
	margin: 0;
	padding: 0;
	font: 16px Arial;
	background-color: white;
	color: black;
}
.container {
	width: 73%;
	margin: 0 auto;
}
.container2 {
	width: 90%;
	margin: 0 auto;
}
.clearfix {
	clear: both;
}
button:hover {
	cursor: pointer;
}
button:focus {
	outline: none;
}
input:focus {
	outline: none;
}
li:hover {
	cursor: pointer;
}
a {
	text-decoration: none;
}

.container2 h3 {	
	font: 50px OpenSans-Bold;
	text-align: center;
	padding-top: 64px;
}

.item {
	display: inline-block;
	width: 33%;
}
.item img {
	display: block;
	margin: 0 auto;
}
.item>p{
	font: 18px OpenSans-Regular;
	color: #838383;
	margin: 0;
	padding: 18px 0 8px 0;
	text-align: center;
}
.item h4 {
	font: 25px OpenSans-SemiBold;
	color: black;
	text-align: center;
	margin: 0;
}